*{
	padding:0px;
	margin:0px auto;
	}
	/*******header start***********/
	.header{
	width:100%;
	height:200px;
	background-color:red;
	}
	.header-top{
	width:100%;
	height:120px;
	background-color:#fff;
	
	}
	.header-top-1{
	width:25%;
	height:120px;
	background:#fff;
	float:left;
	}
	.header-top-1 img{
	padding-left:30px;
	padding-top:40px;
	}
	.header-top-2{
	width:25%;
	height:120px;
	background:#fff;
	float:left;
	}
	.header-top-2-left{
	width:20%;
	height:120px;
	background:#fff;
	float:left;
	border-radius:50%;
	}
	.header-top-2-left i{
	
	background-color:#fff4f4;
	color:#ff4545;
	padding:16px;
	border-radius:50%;
	color:#ff4545;
	font-size:20px;
	margin-top:20px;
	}
	.header-top-2-right{
	width:80%;
	height:120px;
	background:#fff;
	float:left;
	}
	.header-top-2-right h4{
	color:#696969;
	padding-top:30px;
	}
	.header-top-2-right h3{
	color:#000;
	
	}
	.header-top-3{
	width:25%;
	height:120px;
	background:#fff;
	float:left;
	}
	.header-top-3-left{
	width:20%;
	height:120px;
	background:#fff;
	float:left;
	}
	.header-top-3-left i{
	
	background-color:#fff4f4;
	color:#ff4545;
	padding:16px;
	border-radius:50%;
	color:#ff4545;
	font-size:20px;
	margin-top:20px;
	}
	.header-top-3-right{
	width:80%;
	height:120px;
	background:#fff;
	float:left;
	}
	.header-top-3-right h4{
	color:#696969;
	padding-top:30px;
	}
	.header-top-3-right h3{
	color:#000;
	
	}
	.header-top-4{
	width:25%;
	height:120px;
	background:#fff;
	float:left;
	
	
	}
	.sb-example-1{
	margin:20px;
	}
	.sb-example-1 .search {
	  width: 100%;
	  position: relative;
	  display: flex;
	}
	.sb-example-1 .searchTerm {
	  width: 100%;
	  border: 3px solid #00B4CC;
	  border-right: none;
	  padding: 5px;
	  border-radius: 5px 0 0 5px;
	  outline: none;
	  color: #9DBFAF;
	}
	.sb-example-1 .searchTerm:focus{
	  color: #00B4CC;
	}
	.sb-example-1 .searchButton {
	  width: 40px;
	  height: 50px;
	  border: 1px solid #00B4CC;
	  background: #00B4CC;
	  text-align: center;
	  color: #fff;
	  border-radius: 0 5px 5px 0;
	  cursor: pointer;
	  font-size: 20px;
	}
		
	.header-nav{
	width:100%;
	height:80px;
	background-color:#ed6534;
	
	}
	.header-nav-left{
	width:80%;
	height:80px;
	float:left;
	
	}
	.header-nav-left ul{
	list-style:none;
	padding-top:32px;
	padding-left:20px;
	}
	.header-nav-left ul li{
	float:left;
	padding-right:5px;
	}
	.header-nav-left ul li a{
	color:#fff;
	text-decoration:none;
	padding:32px 20px;
	text-transform: uppercase;
	}
	.header-nav-left ul li a:hover{
	background:#000;
	
	}
	.home-active a{
	background:#000;
	
	}
	.arrow{
	padding-left:7px;
	
	}
	
	.shop-dropdown{
	display:none;
	}
	
	.header-nav-left ul li:hover .shop-dropdown {
		display:block;
		position:absolute;
		z-index:101;
		width:220px;
		margin-left:-20px;
	}
	.header-nav-left ul li:hover .shop-dropdown ul li{
		float:none;
		padding:0px;
		border-bottom:1px solid #ececec;
		
		
		
	}
	.header-nav-left ul li:hover .shop-dropdown ul li a{
		display:block;
		padding-top:10px;
		padding-bottom:10px;
		background:#fff;
		color:#000!important;
		
	}
	.header-nav-left ul li:hover .shop-dropdown ul li a:hover{
		
		background:#ed6534;
		color:#fff;
		
	}
	
	.header-nav-right{
	width:20%;
	height:80px;
	background:#ed6534;
	float:left;
	}
	.header-nav-right ul{
	list-style-type:none;
	}
	.header-nav-right ul li{
	float:left;
	padding:20px;
	font-size:18px;
	padding-left:20px;
	}
	.header-nav-right ul li a{
	color:#fff;
	}
	/*******header end***********/
	
	/*******ca-find start***********/
	.ca-find{
	width:100%;
	height:600px;
    background-image: url("C:/Users/suresh/OneDrive/Desktop/css-1/images/find-img.jpg");
	position:relative;
	opacity: 0.7;
	}
	.ca-find-top h1{
	text-align:center;
	color:#fff;
	font-weight:600px;
	font-size:80px;
	padding-top:90px;
	}
	.ca-find-top h5{
	text-align:center;
	font-size:22px;
	color:#fff;
	padding-bottom:15px;
	}
	.ca-find-middle{
	width:90%;
	height:110px;
	background-color:#fff;
	padding-top:28px;
	
	}
	.select-make{
	width:23.5%;
	height:70px;
	float:left;
	margin:11px;
	
	}
	.select-make select{
	width:100%;
    height:70px;
	border:none;
	border-left:4px solid red;
	padding-top:10px;
	font-size:18px;
	font-weight:700px;
	background-color:#f7f7f7;
	}
	
	.select-make select option hover{
	color:#f7f7f7;
	}
	
	.select-model{
	width:23.5%;
	height:70px;
	float:left;
	margin-top:11px;
	}
	
	.select-model select{
	width:100%;
    height:70px;
	border:none;
	border-left:4px solid red;
	padding-top:10px;
	font-size:18px;
	font-weight:700px;
	background-color:#f7f7f7;
	}
	.select-year{
	width:23.5%;
	height:70px;
	float:left;
	margin-top:11px;
	margin-left:8px;
	}
	
	.select-year select{
	width:100%;
    height:70px;
	border:none;
	border-left:4px solid red;
	padding-top:10px;
	font-size:18px;
	font-weight:700px;
	background-color:#f7f7f7;
	}
	.select-button{
	width:23.5%;
	height:70px;
	float:left;
	margin-top:11px;
	margin-left:8px;
	}
	.select-button button{
	width:80%;
    height:70px;
	border:none;
	padding-top:10px;
	font-size:15px;
	font-weight:700px;
	color:#fff;
	background-color:#ff4545;
	padding-right:20px;
	
	}
	
	
	.ca-find-bottom{
	
	}
	/*******ca-find end***********/
	
	/*******ca-categories start********************/
	.ca-categories{
	width:100%;
	height:700px;
	background-color:#f7f7f7;
	}
	.ca-categories-row-1 h2{
	text-align:center;
	padding-top:30px;
	font-size:30px;
	font-weight:300px;
	}
	.ca-categories-row-1 p{
	text-align:center;
	padding-top:15px;
	font-size:15px;
	
	}
	.ca-categories-row-2{
	width:90%;
	height:250px;
	background-color:;
	margin-top:30px;
	}
	.ca-categories-row-2-left{
	width:48%;
	height:250px;
	background-color:#fff;
	float:left;
	}
	.ca-categories-row-2-left-1{
	width:40%;
	height:250px;
	background-color:#fff;
	float:left;
	}
	.ca-categories-row-2-left-1 img{
	width:100%;
	height:250px;
	}
	.ca-categories-row-2-left-1 img hover{
	color:#c7c7c7;
	}
	.ca-categories-row-2-left-2{
	width:60%;
	height:250px;
	background-color:#fff;
	float:left;
	
	}
	.ca-categories-row-2-left-2 i{
	color:#fbb71c;
	padding-top:50px;
	
	}
	.ca-categories-row-2-left-2 h3{
	padding-top:10px;
	}
	.doe{
	text-decoration:none;
	color:#000;
	}
	.doe:hover{
	color:red;
	}
	.ca-categories-row-2-left-2 p{
	padding-top:5px;
	font-size:15px;
	margin-bottom:20px;
	}
	.ca-categories-row-2-left-2 button{
	
	border:none;
	border-radius:5px;
	color:#fff;
	background-color:#ff4545;
	}
	.ca-categories-row-2-right{
	width:48%;
	height:250px;
	background-color:#fff;
	float:left;
	margin-left:4%;
	}
	.ca-categories-row-2-right-1{
	width:40%;
	height:250px;
	background-color:#fff;
	float:left;
	}
	.ca-categories-row-2-right-1 img{
	width:100%;
	height:250px;
	}
	.ca-categories-row-2-right-2{
	width:60%;
	height:250px;
	background-color:#fff;
	float:left;
	
	}
	.pdt50{
	padding-top:50px;
	
	}
	.pdt50 i{
		color:#fbb71c;
	
	}
	
	.ca-categories-row-2-right-2 h3{
	padding-top:10px;
	}
	.ca-categories-row-2-right-2 a{
	text-decoration:none;
	color:#000;
	}
	.ca-categories-row-2-right-2 h3 a:hover{
	color:red;
	}
	.ca-categories-row-2-right-2 p{
	padding-top:5px;
	font-size:15px;
	margin-bottom:20px;
	}
	.ccr2r-shopnow{
	padding:10px 20px;
	border-radius:15px;
	color:#fff!important;
	background-color:#ff4545;
	text-decoration:none;
	}
	.ccr2r-shopnow i{
	background-color:#fff;
	color:#ff4545;
	padding:5px;
	border-radius:50%;
	margin-left:5px;
	font-size:12px;
	}
	
	/*******ca-categories end********************/
	
	/*******carnames start********************/
	.carnames{
	width:100%;
	height:250px;
	background-color:#fe4144;
    background-image: url("C:\Users\suresh\OneDrive\Desktop\css-1\images\bg.jpg");
	}
	.volvo{
	width:16%;
	height:250px;
	background-color:;
	float:left;
	}
	.volvo img{
	padding-top:70px;
	padding-left:60px;
	
	}
	.volvo h4{
	color:#fff;
	padding-top:20px;
	padding-left:70px;
	}
	.suzuki{
	width:16%;
	height:250px;
	background-color:;
	float:left;
	}
	.suzuki img{
	padding-top:70px;
	padding-left:60px;
	
	}
	.suzuki h4{
	color:#fff;
	padding-top:20px;
	padding-left:70px;
	}
	.nissan{
	width:16%;
	height:250px;
	background-color:;
	float:left;
	}
	.nissan img{
	padding-top:70px;
	padding-left:60px;
	
	}
	.nissan  h4{
	color:#fff;
	padding-top:20px;
	padding-left:70px;
	}
	.yamaha{
	width:16%;
	height:250px;
	background-color:;
	float:left;
	}
	.yamaha img{
	padding-top:70px;
	padding-left:60px;
	
	}
	.yamaha h4{
	color:#fff;
	padding-top:20px;
	padding-left:70px;
	}
	.ople{
	width:16%;
	height:250px;
	background-color:;
	float:left;
	}
	.ople img{
	padding-top:70px;
	padding-left:60px;
	
	}
	.ople h4{
	color:#fff;
	padding-top:20px;
	padding-left:90px;
	}
	.bmw{
	width:16%;
	height:250px;
	background-color:;
	float:left;
	}
	
	.bmw img{
	padding-top:70px;
	padding-left:60px;
	
	}
	.bmw h4{
	color:#fff;
	padding-top:20px;
	padding-left:90px;
	}
	/*******carnames end********************/
	
	/*******car-img start********************/
	.car-img{
	width:100%;
	height:650px;
	background-color:;
	}
	.car-img-row-top{
	width:90%;
	height:300px;
	background-color:#fff;
	margin-top:30px;
	}
	.car-img-row-top-left{
	width:45%;
	height:300px;
	background-color:#fff;
	float:left;
    background-image: url("C:/Users/suresh/OneDrive/Desktop/css-1/images/find-img.jpg");
	position:relative;
	margin-right:10px;
	background-repeat:no-repeat;
	background-size:100% 300px;
	}
	.car-img-row-top-left P{
	color:#fb9824;
	padding-top:80px;
	padding-left:20px;
	}
	
	.car-img-row-top-left h2{
	color:#fff;
	padding-left:20px;
	padding-top:15px;
	padding-bottom:20px;
	}
	
	.car-img-row-top-right{
	width:45%;
	height:300px;
	background-color:#fff;
	float:left;
	background-image: url("C:/Users/suresh/OneDrive/Desktop/css-1/images/bg-2.jpg");
	background-repeat:no-repeat;
	background-size:100% 300px;
	}
	
	.car-img-row-top-right P{
	color:#fb9824;
	padding-top:80px;
	padding-left:20px;
	}
	
	.car-img-row-top-right h2{
	color:#fff;
	padding-left:20px;
	padding-top:15px;
	padding-bottom:20px;
	}
	.cimg-shopnow{
	padding:10px 20px;
	border-radius:15px;
	color:#fff!important;
	background-color:#ff4545;
	text-decoration:none;
	margin-left:20px;
	}
	.cimg-shopnow i{
	background-color:#fff;
	color:#ff4545;
	padding:5px;
	border-radius:50%;
	margin-left:5px;
	font-size:12px;
	}
	
	.car-img-row-bottom{
	width:90%;
	height:300px;
	background-color:#fff;
	margin-top:30px;
	}
	.car-img-row-bottom-left{
	width:50%;
	height:300px;
	background-color:;
	float:left;
	}
	.car-img-row-bottom-right{
	width:50%;
	height:300px;
	background-color:;
	float:left;
	}
	/*******car-img end********************/
	
   /*******car-features start********************/
	.car-features{
	width:100%;
	height:700px;
	background-color:;
	}
	.car-features-1{
	width:60%;
	height:70px;
	background-color:;
	}
	.car-features-1-arrival{
	width:33%;
	height:70px;
	background-color:;
	float:left;
	}
	.car-features-1-arrival h2{
	text-align:center;
	padding-top:20px;
	
	}
	.car-features-1-arrival h2 a{
	color:#000;
	text-decoration:none;
	}
	.clr{
	color:#ff4545!important;
	}
	.car-features-1-products{
	width:34%;
	height:70px;
	background-color:;
	float:left;
	}
	.car-features-1-products h2{
	text-align:center;
	padding-top:20px;
	color:#000;
	}
	.car-features-1-products h2 a{
	color:#000;
	text-decoration:none;
	}
	.car-features-1-products h2 a:hover{
	color:#ff4545!important;
	
	}
	.car-features-1-seller{
	width:33%;
	height:70px;
	background-color:;
	float:left;
	}
	.car-features-1-seller h2{
	text-align:center;
	padding-top:20px;
	color:#000;
	}
	.car-features-1-seller h2 a{
	color:#000;
	text-decoration:none;
	}
	.car-features-1-seller h2 a:hover{
	color:#ff4545!important;
	
	}
	.car-features-2{
	width:90%;
	height:300px;
	background-color:;
	}
	.car-features-2 h3{
	text-align:center;
	}
	.car-features-2-left{
	width:23%;
	height:300px;
	background-color:;
	float:left;
	margin-right:2%;
	}
	.car-features-2-left img{
	width:100%;
	height:200px;
	}
	 .starts{
	padding-top:20px;
padding-left:10px;	
	}
	.starts i{
	color:#fbb71c!important;
	text-align:center!important;
	
	}
	.car-features-2-left h3{
	padding-top:10px;
	}
	.car-features-2-left h3 a{
	text-decoration:none;
	color:#000;
	}
	.car-features-2-left h3 a:hover{
	color:#ff4545;
	}
	.car-features-2-left p{
	color:#ff4545;
    text-align:center;
	}
	.car-features-2-middle{
	width:23%;
	height:300px;
	background-color:;
	float:left;
	margin-right:2%;
	}
	.car-features-2-middle img{
	width:100%;
	height:200px;
	}
	.car-features-2-middle h3{
	padding-top:10px;
	}
	.car-features-2-middle h3 a{
	text-decoration:none;
	color:#000;
	}
	.car-features-2-middle h3 a:hover{
	color:#ff4545;
	}
	.car-features-2-middle p{
	color:#ff4545;
	text-align:center;
	}
	.car-features-2-middle1{
	width:23%;
	height:300px;
	background-color:;
	float:left;
	margin-right:2%;
	}
	.car-features-2-middle1 img{
	width:100%;
	height:200px;
	}
	.car-features-2-middle1 h3{
	padding-top:10px;
	}
	.car-features-2-middle1 h3 a{
	text-decoration:none;
	color:#000;
	}
	.car-features-2-middle1 h3 a:hover{
	color:#ff4545;
	}
	.car-features-2-middle1 p{
	color:#ff4545;
	text-align:center;
	}
	.car-features-2-right{
	width:23%;
	height:300px;
	background-color:;
	float:left;
	margin-left:3px;
	}
	.car-features-2-right img{
	width:100%;
	height:200px;
	}
	.car-features-2-right h3{
	padding-top:10px;
	}
	.car-features-2-right h3 a{
	text-decoration:none;
	color:#000;
	}
	.car-features-2-right h3 a:hover{
	color:#ff4545;
	}
	.car-features-2-right p{
	color:#ff4545;
	text-align:center;
	}
  /*******car-features end********************/	
  
  /*******car-update start********************/
	.ca-update{
	width:100%;
	height:350px;
	background-color:;
	background-image: url("C:/Users/suresh/OneDrive/Desktop/css-1/images/newsletter-bg.jpg");
	position:relative;
	opacity:0.7;
	}
    .ca-update h3{
	text-decoration:underline;
	color:#d4b71c;
	text-align:center;
	padding-top:30px;
	}
	.ca-update h1{
	text-align:center;
	padding-top:20px;
	color:#fff;
	font-size:50px;
	padding-bottom:20px;
	}
	.ca-update-search{
	width:50%;
	height:70px;
	}
	.text-style{
	width:90%;
	height:60px;
	margin-left:110pz;
	color:#111111!important;
	background-color:#fff;
	border-radius:4px;
	}
 /*******car-update end********************/ 
 
 /*******car-seller start********************/ 
	.ca-seller{
	width:100%;
	height:850px;
	background-color:;
	}
	.ca-seller-1{
	width:60%;
	height:100px;
	background-color:;
	}
	.ca-seller-1 h2{
	text-align:center;
	padding-top:20px;
	}
	.ca-seller-1 p{
	text-align:center;
	padding-top:10px;
	color:#696969;
	}
	.ca-seller-2{
	width:90%;
	height:400px;
	background-color:;
	}
	.ca-seller-2 h3{
	text-align:center;
	padding-top:10px;
	}
	.ca-seller-2 p{
	text-align:center;
	padding-top:10px;
	color:#ff4d45;
	
	}
	.ca-seller-2-left{
	width:23.5%;
	height:400px;
	background-color:;
	float:left;
	
	}
	.ca-seller-2-left img{
	width:100%;
	height:300px;
	}
	.ca-seller-2-left-stars{
	padding-left:50px;
	padding-top:10px;
	color:#fbb71c!important;
	}
	.ca-seller-2-middle{
	width:23.5%;
	height:400px;
	background-color:;
	float:left;
	margin-left:2%;
	}
	.ca-seller-2-middle img{
	width:100%;
	height:300px;
	}
	.ca-seller-2-middle1{
	width:23.5%;
	height:400px;
	background-color:;
	float:left;
	margin-left:2%;
	}
	.ca-seller-2-middle1 img{
	width:100%;
	height:300px;
	}
	.ca-seller-2-right{
	width:23.5%;
	height:400px;
	background-color:;
	float:left;
	margin-left:2%;
	
	}
    .ca-seller-2-right img{
	width:100%;
	height:300px;
	}
	.ca-seller-3{
	width:90%;
	height:350px;
	background-color:;
	}
	.ca-seller-3-left{
	width:32%;
	height:350px;
	background-color:;
	float:left;
	background-image: url("C:/Users/suresh/OneDrive/Desktop/css-1/images/car-1.jpg");
	background-repeat:no-repeat;
	background-size:100% 300px;
	margin-right:2%;
	}
	.ca-seller-3-para{
	color:#ff4545;
	padding-left:40px;
	padding-top:40px;
	}
	.ca-seller-3-heading{
	padding-left:20px;
	padding-top:10px;
	}
	.ca-seller-shopnow{
	padding:10px 15px;
	border-radius:15px;
	color:#fff!important;
	background-color:#ff4545;
	text-decoration:none;
	margin-left:20px;
	}
	.ca-seller-shopnow i{
	background-color:#fff;
	color:#ff4545;
	padding:3px;
	border-radius:50%;
	margin-left:5px;
	font-size:8px;
	padding-top:15px;
	}
	.ca-seller-3-middle{
	width:32%;
	height:350px;
	background-color:;
	float:left;
	background-image: url("C:/Users/suresh/OneDrive/Desktop/css-1/images/car-2.jpg");
	background-repeat:no-repeat;
	background-size:100% 300px;
	
	}
	.ca-seller-3-right{
	width:32%;
	height:350px;
	background-color:;
	float:left;
	background-image: url("C:/Users/suresh/OneDrive/Desktop/css-1/images/car-1.jpg");
	background-repeat:no-repeat;
	background-size:100% 300px;
	margin-left:2%;
	}
	
/*******car-seller end********************/ 

/*******cr start********************/ 	
	.cr{
	width:100%;
	height:500px;
	background-color:;
	}
	.cr-top{
	width:100%;
	height:150px;
	background-color:;
	}
	.cr-top h2{
	text-align:center;
	padding-top:10px;
	}
	.cr-top p{
	text-align:center;
	padding-top:10px;
	color:#696969;
	}
	.cr-bottom{
	width:90%;
	height:250px;
	background-color:;
	}
	.cr-bottom-1{
	width:32%;
	height:250px;
	background-color:;
	float:left;
	}
	.cr-bottom-1-top{
	width:100%;
	height:100px;
	background-color:;
	}
	.cr-bottom-1-top-left{
	width:20%;
	height:100px;
	background-color:;
	float:left;
	}
	
	.cr-bottom-1-top-right{
	width:80%;
	height:100px;
	background-color:;
	float:left;
	}
	.cr-heading{
	padding-top:5px;
	}
	.cr-para{
	color:#ff4545!important;
	padding-top:5px;
	}
	.cr-bottom-1-bottom{
	width:100%;
	height:300px;
	background-color:;
	}
	.cr-bottom-1-bottom-top p{
	line-height:25px;
	color:#696969;
	}
	.cr-starts{
	float:left;
	width:70%;
	padding-top:20px;
	color:#fbb71c;
	}
	.cr-quotes{
	float:left;
	width:30%;
	padding-top:20px;
	font-size:30px;
	color:#ff4545;
	}
	.cr-bottom-2{
	width:32%;
	height:250px;
	background-color:;
	float:left;
	margin-left:2%;
	}
	.cr-bottom-3{
	width:32%;
	height:250px;
	background-color:;
	float:left;
	margin-left:2%;
	}
/*******cr end********************/ 

/*******ca-custom start********************/ 	
	.ca-custom{
	width:90%;
	height:270px;
	background-color:;
	
	}
	.ca-custom-1{
	width:22%;
	height:270px;
	background-color:;
	float:left;
	margin-left:2%;
	border:1px solid #c7c7c7;
	}
	.ca-custom-1 img{
	padding-left:70px;
	padding-top:40px;
	}
	.ca-custom-1 h3{
	padding-top:15px;
	padding-bottom:10px;
	padding-left:40px;
	}
	.ca-custom-1 p{
	padding-left:40px;
	color:#696969;
	}
	.ca-custom-2{
	width:22%;
	height:270px;
	background-color:;
	float:left;
	margin-left:2%;
	border:1px solid #c7c7c7;
	
	}
	.ca-custom-2 img{
	padding-left:70px;
	padding-top:40px;
	}
	.ca-custom-2 h3{
	padding-top:15px;
	padding-bottom:10px;
	padding-left:40px;
	}
	.ca-custom-2 p{
	padding-left:40px;
	color:#696969;
	}
	.ca-custom-3{
	width:22%;
	height:270px;
	background-color:;
	float:left;
	border:1px solid #c7c7c7;
	margin-left:2%;
	}
	.ca-custom-3 img{
	padding-left:70px;
	padding-top:40px;
	}
	.ca-custom-3 h3{
	padding-top:15px;
	padding-bottom:10px;
	padding-left:40px;
	}
	.ca-custom-3 p{
	padding-left:40px;
	color:#696969;
	}
	.ca-custom-4{
	width:22%;
	height:270px;
	background-color:;
	float:left;
	margin-left:2%;
	border:1px solid #c7c7c7;
	}
	.ca-custom-4 img{
	padding-left:70px;
	padding-top:40px;
	}
	.ca-custom-4 h3{
	padding-top:15px;
	padding-bottom:10px;
	padding-left:40px;
	}
	.ca-custom-4 p{
	padding-left:40px;
	color:#696969;
	}
/*******ca-custom end********************/ 	

/*******latest-news start********************/ 
	.latest-news{
	width:100%;
	height:500px;
	background-color:;
	}
	.latest-news-1{
	width:100%;
	height:100px;
	background-color:;
	
	}
	.latest-news-1 h2{
	text-align:center;
	padding-top:10px;
	padding-bottom:10px;
	}
	.latest-news-1 p{
	text-align:center;
	color:#696969;
	}
	.latest-news-2{
	width:90%;
	height:400px;
	background-color:;
	
	}
	.latest-news-2-left{
	width:32%;
	height:400px;
	background-color:;
	float:left;
	margin-left:%;
    background-image: url("C:/Users/suresh/OneDrive/Desktop/css-1/images/blog-5.jpg");
	background-repeat:no-repeat;
	background-size:100% 300px;
	}
	
	.latest-news-2-left p{
	color:#fff;
	padding-top:100px;
	text-align:center;
	}
	.latest-news-2-left p a{
	text-decoration:none;
	color:#fff;
	padding-left:5px;
	}
	.latest-news-2-left p a:hover{
	color:#ff4545;
	}
	.latest-news-2-left p:hover{
	color:#ff4545;
	}
	.latest-news-2-left h4{
	color:#fff;
	text-align:center;
	font-size:20px;
	}
	.latest-news-2-left h4:hover{
	color:#ff4545;
	}
	.blog{
	padding:10px 20px;
	border-radius:15px;
	color:#fff!important;
	background-color:#ff4545;
	text-decoration:none;
    margin-left:60px;
	}
	
	.blog i{
	background-color:#fff;
	color:#ff4545;
	padding:5px;
	border-radius:50%;
	margin-left:5px;
	font-size:12px;
	margin-top:20px;
	}
	.blog:hover{
	background-color:#fff;
	
	}
	.blog i:hover{
	color:#000;
	}
	
	.latest-news-2-middle{
	width:32%;
	height:400px;
	background-color:;
	float:left;
	margin-left:2%;
	 background-image: url("C:/Users/suresh/OneDrive/Desktop/css-1/images/blog-6.jpg");
	background-repeat:no-repeat;
	background-size:100% 300px;
	}
	.latest-news-2-middle p{
	color:#fff;
	padding-top:100px;
	text-align:center;
	}
	.latest-news-2-middle p a{
	text-decoration:none;
	color:#fff;
	padding-left:5px;
	}
	.latest-news-2-middle p a:hover{
	color:#ff4545;
	}
	.latest-news-2-middle p:hover{
	color:#ff4545;
	}
	.latest-news-2-middle h4{
	color:#fff;
	text-align:center;
	font-size:20px;
	}
	.latest-news-2-middle h4:hover{
	color:#ff4545;
	}
	.blog{
	padding:10px 20px;
	border-radius:15px;
	color:#fff!important;
	background-color:#ff4545;
	text-decoration:none;
    margin-left:60px;
	}
	
	.blog i{
	background-color:#fff;
	color:#ff4545;
	padding:5px;
	border-radius:50%;
	margin-left:5px;
	font-size:12px;
	margin-top:20px;
	}
	.blog:hover{
	background-color:#fff;
	
	}
	.blog i:hover{
	color:#000;
	}
	
	
	.latest-news-2-right{
	width:32%;
	height:400px;
	background-color:;
	float:left;
	margin-left:2%;
	 background-image: url("C:/Users/suresh/OneDrive/Desktop/css-1/images/blog-5.jpg");
	background-repeat:no-repeat;
	background-size:100% 300px;
	}
	.latest-news-2-right p{
	color:#fff;
	padding-top:100px;
	text-align:center;
	}
	.latest-news-2-right p a{
	text-decoration:none;
	color:#fff;
	padding-left:5px;
	}
	.latest-news-2-right p a:hover{
	color:#ff4545;
	}
	.latest-news-2-right p:hover{
	color:#ff4545;
	}
	.latest-news-2-right h4{
	color:#fff;
	text-align:center;
	font-size:20px;
	}
	.latest-news-2-right h4:hover{
	color:#ff4545;
	}
	.blog{
	padding:10px 20px;
	border-radius:15px;
	color:#fff!important;
	background-color:#ff4545;
	text-decoration:none;
    margin-left:60px;
	}
	
	.blog i{
	background-color:#fff;
	color:#ff4545;
	padding:5px;
	border-radius:50%;
	margin-left:5px;
	font-size:12px;
	margin-top:20px;
	}
	.blog:hover{
	background-color:#fff;
	
	}
	.blog i:hover{
	color:#000;
	}
	
/*******latest-news end********************/ 

		
/*******car-logs start********************/	
	.ca-logos{
	width:100%;
	height:150px;
	background-color:#ff4545;
	}
	.ca-logos-1{
	width:15%;
	height:100%;
	float:left;
	background-color:;
	}
	.ca-logos-1 img{
	padding-top:40px;
	padding-left:90px;
	}
	.ca-logos-2{
	width:15%;
	height:100%;
	float:left;
	background-color:;
	}
	.ca-logos-2 img{
	padding-top:40px;
	padding-left:90px;
	}
	.ca-logos-3{
	width:15%;
	height:100%;
	float:left;
	background-color:;
	}
	.ca-logos-3 img{
	padding-top:40px;
	padding-left:90px;
	}
	.ca-logos-4{
	width:15%;
	height:100%;
	float:left;
	background-color:;
	}
	.ca-logos-4 img{
	padding-top:40px;
	padding-left:90px;
	}
	.ca-logos-5{
	width:15%;
	height:100%;
	float:left;
	background-color:;
	}
	.ca-logos-5 img{
	padding-top:40px;
	padding-left:90px;
	}
	.ca-logos-6{
	width:15%;
	height:100%;
	float:left;
	background-color:;
	}
	.ca-logos-6 img{
	padding-top:40px;
	padding-left:100px;
	}
/*******car-logs end********************/	

/*******footer start********************/	
	.footer{
	width:100%;
	height:530px;
	background-color:#000;
	}
	.footer-top{
	width:90%;
	height:450px;
	background-color:;
	}
	.footer-top-1{
	width:25%;
	height:450px;
	background-color:;
	float:left;
	}
	.footer-top-1 img{
	padding-top:30px;
	color:#fff!important;
	}
	
	.footer-top-1 p{
	padding-top:30px;
	color:#fff;
	line-height:20px;
	font-size:18px;
	}
	.footer-top-1 h3{
	color:#fff!important;
	padding-top:30px;
	}
	.icon-1{
	width:15%;
	height:10px;
	float:left;
	color:#696969!important;
	}
	.icon-1:hover{
	color:#ff4545!important;
	}
	.icon-2{
	width:15%;
	height:10px;
	float:left;
	color:#696969!important;
	}
	.icon-2:hover{
	color:#ff4545!important;
	}
	.icon-3{
	width:15%;
	height:10px;
	float:left;
	color:#696969!important;
	}
	.icon-3:hover{
	color:#ff4545!important;
	}
	.icon-4{
	width:15%;
	height:10px;
	float:left;
	color:#696969!important;
	}
	.icon-4:hover{
	color:#ff4545!important;
	}
	.icon-5{
	width:15%;
	height:10px;
	float:left;
	color:#696969!important;
	}
	.icon-5:hover{
	color:#ff4545!important;
	}
	.footer-top-2{
	width:25%;
	height:450px;
	background-color:;
	float:left;
	}
	.footer-top-2 h2{
	color:#fff;
	padding-top:40px;
	padding-left:50px;
	}
	.footer-para{
	color:#fff;
	padding-top:25px;
	padding-left:50px;
	}
	.footer-para:hover{
	color:#ff4545;
	}
	.footer-top-3{
	width:25%;
	height:450px;
	background-color:;
	float:left;
	}
	.footer-top-3 h2{
	color:#fff;
	padding-top:40px;
	padding-left:50px;
	}
	.footer-para{
	color:#fff;
	padding-top:25px;
	padding-left:50px;
	}
	.footer-top-4{
	width:25%;
	height:450px;
	background-color:;
	float:left;
	}
	.footer-top-4 h2{
	color:#fff;
	padding-left:20px;
	padding-top:40px;
	}
	.contact-1-left{
	width:10%;
	height:60px;
	float:left;
	background-color:;
	}
	.contact-1-left p{
	color:#ff4545!important;
	padding-top:20px;
	}
	.contact-1-right{
	width:90%;
	height:60px;
	float:left;
	background-color:;
	}
	.contact-1-right p{
	color:#fff;
	padding-top:10px;
	line-height:25px;
	}
	.contact-2-left{
	width:10%;
	height:60px;
	float:left;
	background-color:;
	}
	.contact-2-left p{
	color:#ff4545!important;
	padding-top:20px;
	}
	.contact-2-right{
	width:90%;
	height:60px;
	float:left;
	background-color:;
	}
	.contact-2-right p{
	color:#fff;
	padding-top:15px;
	line-height:25px;
	}
	.contact-3-left{
	width:10%;
	height:60px;
	float:left;
	background-color:;
	}
	.contact-3-left p{
	color:#ff4545!important;
	padding-top:20px;
	}
	.contact-3-right{
	width:90%;
	height:60px;
	float:left;
	background-color:;
	}
	.contact-3-right p{
	color:#fff;
	padding-top:15px;
	line-height:25px;
	}
	.contact-4{
	width:70%;
	height:40px;
	background-color:;
	}
	.contact-4-1{
	width:15%;
	height:10px;
	float:left;
	
	}
	
	.contact-4-2{
	width:15%;
	height:10px;
	float:left;
	
	}
	
	.contact-4-3{
	width:15%;
	height:10px;
	float:left;
	
	}
	
	.contact-4-4{
	width:15%;
	height:10px;
	float:left;
	
	}
	
	.contact-4-5{
	width:15%;
	height:10px;
	float:left;
	
	}
	
	
	.footer-bottom{
	width:100%;
	height:80px;
	background-color:#000;
	border-top: 1px solid #252525;
	}
	.footer-bottom p{
	color:#fff;
	text-align:center;
	}
	.main{
	color:#ff4545!important;
	
	}
/*******footer end********************/		